section(data-section="second").section-what-to-call.main-section__what-to-call.parallax__layer.parallax__layer--back
	.container.section-what-to-call__container
		.section-what-to-call__wrap.js-what-to-call-wrap
			p.section-what-to-call__text.js-what-to-call-inscription
				span.section-what-to-call__proverb.section-what-to-call__proverb--crossOut.js-proverb
					| Гречка

				span.section-what-to-call__img-wrap
					img(
						src="./images/city-moscow-l.jpg"
						alt="Москва"
					).section-what-to-call__image.js-wrap-mini-img

				span.section-what-to-call__proverb.js-proverb
					| москвичам

			p.section-what-to-call__text
				span.section-what-to-call__img-wrap
					img(
						src="./images/little-dish.jpg"
						alt="Блюдо из гречи"
					).section-what-to-call__image.section-what-to-call__image--not-right.js-wrap-mini-img

				span.section-what-to-call__proverb.js-proverb
					| a&nbsp;
					span.section-what-to-call__proverb.section-what-to-call__proverb--yellow-italic.js-proverb
						| греча&nbsp;
					| она

				span.section-what-to-call__img-wrap
					img(
						src="./images/little-dish-second.jpg"
						alt="Греча с грибами"
					).section-what-to-call__image.js-wrap-mini-img

				span.section-what-to-call__proverb.js-proverb
					| как

			p.section-what-to-call__text
				span.section-what-to-call__proverb.section-what-to-call__proverb--yellow-italic.js-proverb
					| Питер

				span.section-what-to-call__img-wrap
					img(
						src="./images/city-spb-l.jpg"
						alt="Питер"
					).section-what-to-call__image.js-wrap-mini-img

				span.section-what-to-call__proverb.section-what-to-call__proverb--italic.js-proverb
					| греча

				span.section-what-to-call__img-wrap
					span.section-what-to-call__arrow.js-wrap-mini-img-arrow

				span.section-what-to-call__proverb.section-what-to-call__proverb--yellow-italic.js-proverb
					| твое

